<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    NAMES
    <!-- Item is each object, name is the specific value -->
    <h1><% nameData.forEach(function(item) { %>
        <li><%= item.name %></li>
      <% }); %></h1>
</body>
</html>