<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <h1>i am from ejs</h1>

    <%= pageTitle %>
    
    <h2>get endpoint</h2>
    <form method="get" action="/saveMyNameGet">
        <input name="myName">
        <input type="submit" value="save my name!">

    </form>

    <h2>post endpoint</h2>
    <form method="post" action="/saveMyNamePost">
        <input name="myName">
        <input type="submit" value="save my name!">

    </form>
</body>
</html>